<form action="/profile" method="post" enctype="multipart/form-data">
    <div>
        <label>Name</label>
        <input type="text" name="imgName"/>
    </div>
    <div>
        <label>File</label>
        <input type="file" name="fileName"/>
    </div>
    <button type="submit">Submit</button>
</form>